extends ../layout

block content
  h1= title
  h4 Welcome to #{title}
  form(method='post', action='login')
      input(type='hidden', name='_csrf', value='#{csrfToken}')
      label User Name
      br
      input(type='text', name='username', required='required')
      br
      label Password
      br
      input(type='password', name='password', required='required')
      br
      input(type='submit')
      hr

   div
       if errors.length > 0
           ul(class='errors')
               each error in errors
                   li #{error}
           br

       if infos.length > 0
           ul(class='infos')
               each info in infos
                   li #{info}
